/* TodoApp.css */
.todos-bg-container {
  background-color: #f9fbfe;
  height: 100vh;
  padding: 20px;
}

.todos-heading,
.create-task-heading {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-items-heading {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.create-task-heading-subpart,
.todo-items-heading-subpart {
  font-weight: 500;
}

.todo-user-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e4e7eb;
  border-radius: 5px;
}

.add-todo-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4c63b6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo-button,
.filter-button {
  /* Apply shared styles to add-todo and filter buttons */
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4c63b6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px; /* Ensure some spacing between filter buttons */
}

.heading-filters {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-items-container {
  list-style: none;
  padding: 0;
}
